@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  overflow-x: hidden;
  border: none;
}

body {
  background-image: url(../public/Backgroud.svg);
  background-size: cover;
}

input {
  border:none;
  outline: none;
}

select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}